# TeX build files
*.aux
*.fdb_latexmk
*.fls
*.log
*.synctex.gz
*.pdf

# virtual env
.venv/

# Jupyter Lab stuff
.ipynb_checkpoints/

# python stuff
__pycache__/

# figure outputs
figures/*.svg
figures/*.png
figures/index.html
